* {
    padding: 0;
    margin: 0;
}

// Замена оптимизатору или (👆)общему обнулению - от преподавателя.
// сломал страницу - причину не искал
/*
html,
body,
div,
img,
a,
hr,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
button {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: none;
    vertical-align: top;
    transition: none;
}
*/

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

// a:hover {
//     opacity: 0.6;
// }

details {
    cursor: pointer;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

