$ColorSelectSite: #F16D7F;
$colorStyleHeaderPromoFooter: #222;
$backgroundGeneral: #FFFFFF;
$colorText: #6F6E6E;
$boxShadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
$widthSiteDesctop: 1140px;
$widthSiteTablet: 768px;
$hoverIcon: scale(1, 1.2);
$subscribeBackground: url(../img/subscribeBackground.png);
