.comment {
    display: flex;
    align-items: center;
}

.button1 {
    margin: auto;
    border: none;
    background: none;
}

.button2 {
    margin: auto;
    border: none;
    background: none;
}