.EventCard {
    border: thick double #32a1ce;
    /* border-color: yellowgreen; */
    padding-right: 10;
    padding-left: 10;
    color: yellowgreen;
}

.eventCard_title {
    color: yellowgreen;
}

.eventCard_date{
    color: aqua;
}

.eventCard_location {
    color: palevioletred;
}

